*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Default HTML Tag styling */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

main {
  padding-bottom: 100px;
}

/* @media configuration for Rows & Columns */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

.row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: calc((12/12)*100%);
}

.col-1 {
  -ms-flex-preferred-size: calc((1/12)*100%);
      flex-basis: calc((1/12)*100%);
  max-width: calc((1/12)*100%);
}

.col-2 {
  -ms-flex-preferred-size: calc((2/12)*100%);
      flex-basis: calc((2/12)*100%);
  max-width: calc((2/12)*100%);
}

.col-3 {
  -ms-flex-preferred-size: calc((3/12)*100%);
      flex-basis: calc((3/12)*100%);
  max-width: calc((3/12)*100%);
}

.col-4 {
  -ms-flex-preferred-size: calc((4/12)*100%);
      flex-basis: calc((4/12)*100%);
  max-width: calc((4/12)*100%);
}

.col-5 {
  -ms-flex-preferred-size: calc((5/12)*100%);
      flex-basis: calc((5/12)*100%);
  max-width: calc((5/12)*100%);
}

.col-6 {
  -ms-flex-preferred-size: calc((6/12)*100%);
      flex-basis: calc((6/12)*100%);
  max-width: calc((6/12)*100%);
}

.col-7 {
  -ms-flex-preferred-size: calc((7/12)*100%);
      flex-basis: calc((7/12)*100%);
  max-width: calc((7/12)*100%);
}

.col-8 {
  -ms-flex-preferred-size: calc((8/12)*100%);
      flex-basis: calc((8/12)*100%);
  max-width: calc((8/12)*100%);
}

.col-9 {
  -ms-flex-preferred-size: calc((9/12)*100%);
      flex-basis: calc((9/12)*100%);
  max-width: calc((9/12)*100%);
}

.col-10 {
  -ms-flex-preferred-size: calc((10/12)*100%);
      flex-basis: calc((10/12)*100%);
  max-width: calc((10/12)*100%);
}

.col-11 {
  -ms-flex-preferred-size: calc((11/12)*100%);
      flex-basis: calc((11/12)*100%);
  max-width: calc((11/12)*100%);
}

.col-12 {
  -ms-flex-preferred-size: calc((12/12)*100%);
      flex-basis: calc((12/12)*100%);
  max-width: calc((12/12)*100%);
}

@media (min-width: 576px) {
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 0 1rem;
  }
  .col-sm {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: calc((12/12)*100%);
  }
  .col-sm-1 {
    -ms-flex-preferred-size: calc((1/12)*100%);
        flex-basis: calc((1/12)*100%);
    max-width: calc((1/12)*100%);
  }
  .col-sm-2 {
    -ms-flex-preferred-size: calc((2/12)*100%);
        flex-basis: calc((2/12)*100%);
    max-width: calc((2/12)*100%);
  }
  .col-sm-3 {
    -ms-flex-preferred-size: calc((3/12)*100%);
        flex-basis: calc((3/12)*100%);
    max-width: calc((3/12)*100%);
  }
  .col-sm-4 {
    -ms-flex-preferred-size: calc((4/12)*100%);
        flex-basis: calc((4/12)*100%);
    max-width: calc((4/12)*100%);
  }
  .col-sm-5 {
    -ms-flex-preferred-size: calc((5/12)*100%);
        flex-basis: calc((5/12)*100%);
    max-width: calc((5/12)*100%);
  }
  .col-sm-6 {
    -ms-flex-preferred-size: calc((6/12)*100%);
        flex-basis: calc((6/12)*100%);
    max-width: calc((6/12)*100%);
  }
  .col-sm-7 {
    -ms-flex-preferred-size: calc((7/12)*100%);
        flex-basis: calc((7/12)*100%);
    max-width: calc((7/12)*100%);
  }
  .col-sm-8 {
    -ms-flex-preferred-size: calc((8/12)*100%);
        flex-basis: calc((8/12)*100%);
    max-width: calc((8/12)*100%);
  }
  .col-sm-9 {
    -ms-flex-preferred-size: calc((9/12)*100%);
        flex-basis: calc((9/12)*100%);
    max-width: calc((9/12)*100%);
  }
  .col-sm-10 {
    -ms-flex-preferred-size: calc((10/12)*100%);
        flex-basis: calc((10/12)*100%);
    max-width: calc((10/12)*100%);
  }
  .col-sm-11 {
    -ms-flex-preferred-size: calc((11/12)*100%);
        flex-basis: calc((11/12)*100%);
    max-width: calc((11/12)*100%);
  }
  .col-sm-12 {
    -ms-flex-preferred-size: calc((12/12)*100%);
        flex-basis: calc((12/12)*100%);
    max-width: calc((12/12)*100%);
  }
}

@media (min-width: 768px) {
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 0 1rem;
  }
  .col-md {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: calc((12/12)*100%);
  }
  .col-md-1 {
    -ms-flex-preferred-size: calc((1/12)*100%);
        flex-basis: calc((1/12)*100%);
    max-width: calc((1/12)*100%);
  }
  .col-md-2 {
    -ms-flex-preferred-size: calc((2/12)*100%);
        flex-basis: calc((2/12)*100%);
    max-width: calc((2/12)*100%);
  }
  .col-md-3 {
    -ms-flex-preferred-size: calc((3/12)*100%);
        flex-basis: calc((3/12)*100%);
    max-width: calc((3/12)*100%);
  }
  .col-md-4 {
    -ms-flex-preferred-size: calc((4/12)*100%);
        flex-basis: calc((4/12)*100%);
    max-width: calc((4/12)*100%);
  }
  .col-md-5 {
    -ms-flex-preferred-size: calc((5/12)*100%);
        flex-basis: calc((5/12)*100%);
    max-width: calc((5/12)*100%);
  }
  .col-md-6 {
    -ms-flex-preferred-size: calc((6/12)*100%);
        flex-basis: calc((6/12)*100%);
    max-width: calc((6/12)*100%);
  }
  .col-md-7 {
    -ms-flex-preferred-size: calc((7/12)*100%);
        flex-basis: calc((7/12)*100%);
    max-width: calc((7/12)*100%);
  }
  .col-md-8 {
    -ms-flex-preferred-size: calc((8/12)*100%);
        flex-basis: calc((8/12)*100%);
    max-width: calc((8/12)*100%);
  }
  .col-md-9 {
    -ms-flex-preferred-size: calc((9/12)*100%);
        flex-basis: calc((9/12)*100%);
    max-width: calc((9/12)*100%);
  }
  .col-md-10 {
    -ms-flex-preferred-size: calc((10/12)*100%);
        flex-basis: calc((10/12)*100%);
    max-width: calc((10/12)*100%);
  }
  .col-md-11 {
    -ms-flex-preferred-size: calc((11/12)*100%);
        flex-basis: calc((11/12)*100%);
    max-width: calc((11/12)*100%);
  }
  .col-md-12 {
    -ms-flex-preferred-size: calc((12/12)*100%);
        flex-basis: calc((12/12)*100%);
    max-width: calc((12/12)*100%);
  }
}

@media (min-width: 992px) {
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 0 1rem;
  }
  .col-lg {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: calc((12/12)*100%);
  }
  .col-lg-1 {
    -ms-flex-preferred-size: calc((1/12)*100%);
        flex-basis: calc((1/12)*100%);
    max-width: calc((1/12)*100%);
  }
  .col-lg-2 {
    -ms-flex-preferred-size: calc((2/12)*100%);
        flex-basis: calc((2/12)*100%);
    max-width: calc((2/12)*100%);
  }
  .col-lg-3 {
    -ms-flex-preferred-size: calc((3/12)*100%);
        flex-basis: calc((3/12)*100%);
    max-width: calc((3/12)*100%);
  }
  .col-lg-4 {
    -ms-flex-preferred-size: calc((4/12)*100%);
        flex-basis: calc((4/12)*100%);
    max-width: calc((4/12)*100%);
  }
  .col-lg-5 {
    -ms-flex-preferred-size: calc((5/12)*100%);
        flex-basis: calc((5/12)*100%);
    max-width: calc((5/12)*100%);
  }
  .col-lg-6 {
    -ms-flex-preferred-size: calc((6/12)*100%);
        flex-basis: calc((6/12)*100%);
    max-width: calc((6/12)*100%);
  }
  .col-lg-7 {
    -ms-flex-preferred-size: calc((7/12)*100%);
        flex-basis: calc((7/12)*100%);
    max-width: calc((7/12)*100%);
  }
  .col-lg-8 {
    -ms-flex-preferred-size: calc((8/12)*100%);
        flex-basis: calc((8/12)*100%);
    max-width: calc((8/12)*100%);
  }
  .col-lg-9 {
    -ms-flex-preferred-size: calc((9/12)*100%);
        flex-basis: calc((9/12)*100%);
    max-width: calc((9/12)*100%);
  }
  .col-lg-10 {
    -ms-flex-preferred-size: calc((10/12)*100%);
        flex-basis: calc((10/12)*100%);
    max-width: calc((10/12)*100%);
  }
  .col-lg-11 {
    -ms-flex-preferred-size: calc((11/12)*100%);
        flex-basis: calc((11/12)*100%);
    max-width: calc((11/12)*100%);
  }
  .col-lg-12 {
    -ms-flex-preferred-size: calc((12/12)*100%);
        flex-basis: calc((12/12)*100%);
    max-width: calc((12/12)*100%);
  }
}

/* Navbar Styling */
.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #fff;
}

.collapse:not(.show) {
  display: none;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

/* Form & Input Group Styling */
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    transition: none;
  }
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-select[multiple],
.custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none;
}

.custom-select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.input-group > .custom-select {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  min-width: 0;
  margin-bottom: 0;
}

.input-group > .custom-select + .custom-select {
  margin-left: -1px;
}

.input-group > .custom-select:focus {
  z-index: 3;
}

.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-append {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group-append .btn {
  position: relative;
  z-index: 2;
}

.input-group-append .btn:focus {
  z-index: 3;
}

.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .input-group-text,
.input-group-append .input-group-text + .btn {
  margin-left: -1px;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

.input-group-text input[type="radio"],
.input-group-text input[type="checkbox"] {
  margin-top: 0;
}

.input-group-lg > .custom-select {
  height: calc(1.5em + 1rem + 2px);
}

.input-group-lg > .custom-select,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-append > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.input-group-sm > .custom-select {
  height: calc(1.5em + 0.5rem + 2px);
}

.input-group-sm > .custom-select,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-append > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.input-group-lg > .custom-select,
.input-group-sm > .custom-select {
  padding-right: 1.75rem;
}

.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Button styles */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-dark {
  background-color: #343a40;
  border-color: #23272b;
  color: #fff;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  text-decoration: none;
}

.btn-dark:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-dark:disabled {
  color: #fff;
  opacity: 0.65;
}

.btn-dark:hover:disabled {
  background-color: #343a40;
  cursor: not-allowed;
}

.btn-outline-dark {
  background-color: transparent;
  border-color: #23272b;
  color: #23272b;
}

.btn-outline-dark:hover {
  color: #23272b;
  background-color: #23272b;
  text-decoration: none;
}

.btn-outline-dark:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-dark:disabled {
  color: #23272b;
  opacity: 0.65;
}

.btn-outline-dark:hover:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-dark:hover {
  background-color: transparent;
  border-color: #23272b;
  color: #fff;
}

.btn-outline-dark:hover:hover {
  color: #fff;
  background-color: #23272b;
  text-decoration: none;
}

.btn-outline-dark:hover:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-dark:hover:disabled {
  color: #fff;
  opacity: 0.65;
}

.btn-outline-dark:hover:hover:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-dark:hover:disabled {
  color: #23272b;
}

.btn-light {
  background-color: #f8f9fa;
  border-color: #e2e6ea;
  color: #000;
}

.btn-light:hover {
  color: #000;
  background-color: #e2e6ea;
  text-decoration: none;
}

.btn-light:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-light:disabled {
  color: #000;
  opacity: 0.65;
}

.btn-light:hover:disabled {
  background-color: #f8f9fa;
  cursor: not-allowed;
}

.btn-outline-light {
  background-color: transparent;
  border-color: #e2e6ea;
  color: #e2e6ea;
}

.btn-outline-light:hover {
  color: #e2e6ea;
  background-color: #e2e6ea;
  text-decoration: none;
}

.btn-outline-light:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-light:disabled {
  color: #e2e6ea;
  opacity: 0.65;
}

.btn-outline-light:hover:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-light:hover {
  background-color: transparent;
  border-color: #e2e6ea;
  color: #000;
}

.btn-outline-light:hover:hover {
  color: #000;
  background-color: #e2e6ea;
  text-decoration: none;
}

.btn-outline-light:hover:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-light:hover:disabled {
  color: #000;
  opacity: 0.65;
}

.btn-outline-light:hover:hover:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-light:hover:disabled {
  color: #e2e6ea;
}

.btn-success {
  background-color: #28a745;
  border-color: #218838;
  color: #fff;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  text-decoration: none;
}

.btn-success:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-success:disabled {
  color: #fff;
  opacity: 0.65;
}

.btn-success:hover:disabled {
  background-color: #28a745;
  cursor: not-allowed;
}

.btn-outline-success {
  background-color: transparent;
  border-color: #28a745;
  color: #28a745;
}

.btn-outline-success:hover {
  color: #28a745;
  background-color: #28a745;
  text-decoration: none;
}

.btn-outline-success:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-success:disabled {
  color: #28a745;
  opacity: 0.65;
}

.btn-outline-success:hover:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-success:hover {
  background-color: transparent;
  border-color: #218838;
  color: #fff;
}

.btn-outline-success:hover:hover {
  color: #fff;
  background-color: #218838;
  text-decoration: none;
}

.btn-outline-success:hover:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-success:hover:disabled {
  color: #fff;
  opacity: 0.65;
}

.btn-outline-success:hover:hover:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-success:hover:disabled {
  color: #218838;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #e0a800;
  color: #fff;
}

.btn-warning:hover {
  color: #fff;
  background-color: #e0a800;
  text-decoration: none;
}

.btn-warning:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-warning:disabled {
  color: #fff;
  opacity: 0.65;
}

.btn-warning:hover:disabled {
  background-color: #ffc107;
  cursor: not-allowed;
}

.btn-outline-warning {
  background-color: transparent;
  border-color: #e0a800;
  color: #e0a800;
}

.btn-outline-warning:hover {
  color: #e0a800;
  background-color: #e0a800;
  text-decoration: none;
}

.btn-outline-warning:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-warning:disabled {
  color: #e0a800;
  opacity: 0.65;
}

.btn-outline-warning:hover:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-warning:hover {
  background-color: transparent;
  border-color: #e0a800;
  color: #fff;
}

.btn-outline-warning:hover:hover {
  color: #fff;
  background-color: #e0a800;
  text-decoration: none;
}

.btn-outline-warning:hover:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-warning:hover:disabled {
  color: #fff;
  opacity: 0.65;
}

.btn-outline-warning:hover:hover:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-warning:hover:disabled {
  color: #e0a800;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #c82333;
  color: #fff;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  text-decoration: none;
}

.btn-danger:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-danger:disabled {
  color: #fff;
  opacity: 0.65;
}

.btn-danger:hover:disabled {
  background-color: #dc3545;
  cursor: not-allowed;
}

.btn-outline-danger {
  background-color: transparent;
  border-color: #c82333;
  color: #c82333;
}

.btn-outline-danger:hover {
  color: #c82333;
  background-color: #c82333;
  text-decoration: none;
}

.btn-outline-danger:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-danger:disabled {
  color: #c82333;
  opacity: 0.65;
}

.btn-outline-danger:hover:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-danger:hover {
  background-color: transparent;
  border-color: #c82333;
  color: #fff;
}

.btn-outline-danger:hover:hover {
  color: #fff;
  background-color: #c82333;
  text-decoration: none;
}

.btn-outline-danger:hover:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-danger:hover:disabled {
  color: #fff;
  opacity: 0.65;
}

.btn-outline-danger:hover:hover:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-danger:hover:disabled {
  color: #c82333;
}

.btn-femine {
  background-color: #ff6882;
  border-color: #e55d75;
  color: #fff;
}

.btn-femine:hover {
  color: #fff;
  background-color: #e55d75;
  text-decoration: none;
}

.btn-femine:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-femine:disabled {
  color: #fff;
  opacity: 0.65;
}

.btn-femine:hover:disabled {
  background-color: #ff6882;
  cursor: not-allowed;
}

.btn-outline-femine {
  background-color: transparent;
  border-color: #e55d75;
  color: #e55d75;
}

.btn-outline-femine:hover {
  color: #e55d75;
  background-color: #e55d75;
  text-decoration: none;
}

.btn-outline-femine:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-femine:disabled {
  color: #e55d75;
  opacity: 0.65;
}

.btn-outline-femine:hover:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-femine:hover {
  background-color: transparent;
  border-color: #e55d75;
  color: #fff;
}

.btn-outline-femine:hover:hover {
  color: #fff;
  background-color: #e55d75;
  text-decoration: none;
}

.btn-outline-femine:hover:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-femine:hover:disabled {
  color: #fff;
  opacity: 0.65;
}

.btn-outline-femine:hover:hover:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.btn-outline-femine:hover:disabled {
  color: #e55d75;
}

/* Checkbox styles */
label.checkbox {
  cursor: pointer;
  margin-right: 1rem;
  padding-left: 2rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label.checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

label.checkbox input[type=checkbox]:focus ~ span {
  border: 2px solid gray;
}

label.checkbox input[type=checkbox]:focus:checked ~ span {
  border: 2px solid black;
}

label.checkbox input[type=checkbox]:checked ~ span {
  color: #fff;
  background: #2D3137 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #2D3137;
}

label.checkbox input[type=checkbox]:disabled ~ span {
  opacity: 0.5;
}

label.checkbox span {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 1rem;
  height: 1rem;
  background-color: #a6a6a6;
  border: 2px solid #a6a6a6;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label.checkbox.light {
  margin-right: 1rem;
  padding-left: 2rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label.checkbox.light input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

label.checkbox.light input[type=checkbox]:focus ~ span {
  border: 2px solid gray;
}

label.checkbox.light input[type=checkbox]:focus:checked ~ span {
  border: 2px solid black;
}

label.checkbox.light input[type=checkbox]:checked ~ span {
  color: #fff;
  background: #3785BC url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #3785BC;
}

label.checkbox.light input[type=checkbox]:disabled ~ span {
  opacity: 0.5;
}

label.checkbox.light span {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 1rem;
  height: 1rem;
  background-color: #a6a6a6;
  border: 2px solid #a6a6a6;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label.checkbox.success {
  margin-right: 1rem;
  padding-left: 2rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label.checkbox.success input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

label.checkbox.success input[type=checkbox]:focus ~ span {
  border: 2px solid gray;
}

label.checkbox.success input[type=checkbox]:focus:checked ~ span {
  border: 2px solid black;
}

label.checkbox.success input[type=checkbox]:checked ~ span {
  color: #fff;
  background: #329E78 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #329E78;
}

label.checkbox.success input[type=checkbox]:disabled ~ span {
  opacity: 0.5;
}

label.checkbox.success span {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 1rem;
  height: 1rem;
  background-color: #a6a6a6;
  border: 2px solid #a6a6a6;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label.checkbox.warning {
  margin-right: 1rem;
  padding-left: 2rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label.checkbox.warning input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

label.checkbox.warning input[type=checkbox]:focus ~ span {
  border: 2px solid gray;
}

label.checkbox.warning input[type=checkbox]:focus:checked ~ span {
  border: 2px solid black;
}

label.checkbox.warning input[type=checkbox]:checked ~ span {
  color: #fff;
  background: #ECAB00 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #ECAB00;
}

label.checkbox.warning input[type=checkbox]:disabled ~ span {
  opacity: 0.5;
}

label.checkbox.warning span {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 1rem;
  height: 1rem;
  background-color: #a6a6a6;
  border: 2px solid #a6a6a6;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label.checkbox.danger {
  margin-right: 1rem;
  padding-left: 2rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label.checkbox.danger input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

label.checkbox.danger input[type=checkbox]:focus ~ span {
  border: 2px solid gray;
}

label.checkbox.danger input[type=checkbox]:focus:checked ~ span {
  border: 2px solid black;
}

label.checkbox.danger input[type=checkbox]:checked ~ span {
  color: #fff;
  background: #DD3C3A url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #DD3C3A;
}

label.checkbox.danger input[type=checkbox]:disabled ~ span {
  opacity: 0.5;
}

label.checkbox.danger span {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 1rem;
  height: 1rem;
  background-color: #a6a6a6;
  border: 2px solid #a6a6a6;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label.checkbox.femine {
  margin-right: 1rem;
  padding-left: 2rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label.checkbox.femine input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

label.checkbox.femine input[type=checkbox]:focus ~ span {
  border: 2px solid gray;
}

label.checkbox.femine input[type=checkbox]:focus:checked ~ span {
  border: 2px solid black;
}

label.checkbox.femine input[type=checkbox]:checked ~ span {
  color: #fff;
  background: #ff6882 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #ff6882;
}

label.checkbox.femine input[type=checkbox]:disabled ~ span {
  opacity: 0.5;
}

label.checkbox.femine span {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 1rem;
  height: 1rem;
  background-color: #a6a6a6;
  border: 2px solid #a6a6a6;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Alert Styling */
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning hr {
  border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}

/* Card Styling */
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-img,
.card-img-top {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

/* Alignment Helpers */
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.text-center {
  text-align: center;
}

.d-inline-block {
  display: inline-block !important;
}

/* Quick Margin/Padding/Width/Height */
.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-n1 {
  margin: -0.25rem !important;
}

.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}

.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}

.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}

.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}

.m-n2 {
  margin: -0.5rem !important;
}

.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important;
}

.mr-n2,
.mx-n2 {
  margin-right: -0.5rem !important;
}

.mb-n2,
.my-n2 {
  margin-bottom: -0.5rem !important;
}

.ml-n2,
.mx-n2 {
  margin-left: -0.5rem !important;
}

.m-n3 {
  margin: -1rem !important;
}

.mt-n3,
.my-n3 {
  margin-top: -1rem !important;
}

.mr-n3,
.mx-n3 {
  margin-right: -1rem !important;
}

.mb-n3,
.my-n3 {
  margin-bottom: -1rem !important;
}

.ml-n3,
.mx-n3 {
  margin-left: -1rem !important;
}

.m-n4 {
  margin: -1.5rem !important;
}

.mt-n4,
.my-n4 {
  margin-top: -1.5rem !important;
}

.mr-n4,
.mx-n4 {
  margin-right: -1.5rem !important;
}

.mb-n4,
.my-n4 {
  margin-bottom: -1.5rem !important;
}

.ml-n4,
.mx-n4 {
  margin-left: -1.5rem !important;
}

.m-n5 {
  margin: -3rem !important;
}

.mt-n5,
.my-n5 {
  margin-top: -3rem !important;
}

.mr-n5,
.mx-n5 {
  margin-right: -3rem !important;
}

.mb-n5,
.my-n5 {
  margin-bottom: -3rem !important;
}

.ml-n5,
.mx-n5 {
  margin-left: -3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

footer {
  position: fixed;
  height: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dfe0e1;
  padding: 10px;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 10px;
}

ul.social-network li a {
  font-size: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul.social-network li a img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 32px;
}

ul.social-network li a:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.type_block {
  display: none;
}

#btn-submit {
  cursor: not-allowed;
}

.d-inline-block {
  cursor: not-allowed;
}

.product-add-form {
  margin-top: 50px;
}

.card-img-top {
  width: 100%;
  height: 15vw !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-action {
  float: right;
  width: 300px;
  margin-top: 20px;
  margin-bottom: -20px;
}

.form-group {
  padding: 10px;
}

.form-group.required .col-form-label:after {
  content: "*";
  color: red;
}

.card-action-buttons {
  margin-top: -20px;
  padding: 20px;
}

.chk-item {
  position: absolute;
}

.chk-item input {
  margin: 10px;
  float: left;
  clear: both;
}

.product-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.alert-text {
  font-size: 20px;
}

/* Theming */
.theme--light ::-webkit-scrollbar {
  background-color: #f2f2f2;
}

.theme--dark ::-webkit-scrollbar {
  background-color: #242524;
}

.theme--light ::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

.theme--dark ::-webkit-scrollbar-thumb {
  background-color: #363736;
}

.theme--light body {
  color: #000;
  background-color: #fff;
}

.theme--dark body {
  color: #fff;
  background-color: #4F504F;
}

.theme--light nav {
  background-color: #f2f2f2;
}

.theme--dark nav {
  background-color: #3E403F;
}

.theme--light .slider {
  background-color: #ccc;
}

.theme--dark .slider {
  background-color: #333332;
}

.theme--light .navbar .navbar-brand {
  color: #000;
}

.theme--dark .navbar .navbar-brand {
  color: #fff;
}

.theme--light .navbar .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.theme--dark .navbar .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.theme--light .navbar .navbar-nav .active > .nav-link {
  color: #000;
}

.theme--dark .navbar .navbar-nav .active > .nav-link {
  color: #fff;
}

.theme--light .navbar .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.theme--dark .navbar .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.theme--light .navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.theme--dark .navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.theme--light .custom-select {
  color: #000;
  background-color: #fff;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5' fill='%23ffffff'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  border-color: #ced4da;
}

.theme--dark .custom-select {
  color: #fff7e3;
  background-color: #1F2020;
  background: #1F2020 url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNCIgaGVpZ2h0PSI1Ij48ZGVmcz48ZmlsdGVyIGlkPSJkYXJrcmVhZGVyLWltYWdlLWZpbHRlciI+PGZlQ29sb3JNYXRyaXggdHlwZT0ibWF0cml4IiB2YWx1ZXM9IjAuMDk3IC0wLjYwOCAtMC44MTcgMC4wMDAgMS4zMjYgLTAuNzI0IDAuMjM4IC0wLjc4OSAwLjAwMCAxLjI3MyAtMC42ODcgLTAuNTkzIDAuMTAyIDAuMDAwIDEuMTc3IDAuMDAwIDAuMDAwIDAuMDAwIDEuMDAwIDAuMDAwIiAvPjwvZmlsdGVyPjwvZGVmcz48aW1hZ2Ugd2lkdGg9IjQiIGhlaWdodD0iNSIgZmlsdGVyPSJ1cmwoI2RhcmtyZWFkZXItaW1hZ2UtZmlsdGVyKSIgeGxpbms6aHJlZj0iZGF0YTppbWFnZS9zdmcreG1sLCUzY3N2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc0JyBoZWlnaHQ9JzUnIHZpZXdCb3g9JzAgMCA0IDUnIGZpbGw9JyUyM2ZmZmZmZiclM2UlM2NwYXRoIGZpbGw9JyUyMzM0M2E0MCcgZD0nTTIgMEwwIDJoNHptMCA1TDAgM2g0eicvJTNlJTNjL3N2ZyUzZSIgLz48L3N2Zz4=") no-repeat right 0.75rem center/8px 10px;
  border-color: #2c2c2c;
}

.theme--light .form-control {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
}

.theme--dark .form-control {
  color: #E3FFF7;
  background-color: #1F2020;
  border-color: #484E53;
}

.theme--light .card {
  background-color: #fff;
}

.theme--dark .card {
  background-color: #2C2C2C;
}

.theme--light .card-body {
  background-color: #fff;
}

.theme--dark .card-body {
  background-color: #4F504F;
}

.theme--light footer {
  color: #000;
  background-color: #f2f2f2;
}

.theme--dark footer {
  color: #fff;
  background-color: #3E403F;
}

.theme--light ul.social-network li a {
  color: #000;
}

.theme--dark ul.social-network li a {
  color: #fff;
}

/* THEME SWITCHER */
/* Hide default HTML checkbox */
/* The slider */
/* Rounded sliders */
.switch {
  position: relative;
  float: right;
  width: 60px;
  height: 24px;
  margin-left: 32px;
  margin-top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0px 15px #2020203d;
          box-shadow: 0 0px 15px #2020203d;
  background: white url("https://i.ibb.co/FxzBYR9/night.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=app.css.map */