footer {
    position: fixed;
    height: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dfe0e1;
    padding: 10px;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 10px;
}

ul.social-network li a {
    font-size: 24px;
    transition: 0.3s;
}

ul.social-network li a img {
    filter: brightness(0) invert(1);
    width: 32px;
}

ul.social-network li a:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.type_block {
    display: none;
}

#btn-submit {
    cursor: not-allowed;
}

.d-inline-block {
    cursor: not-allowed;
}

.product-add-form {
    margin-top: 50px;
}

.card-img-top {
    width: 100%;
    height: 15vw !important;
    object-fit: cover;
}

.product-action {
    float: right;
    width: 300px;
    margin-top: 20px;
    margin-bottom: -20px;
}

.form-group {
    padding: 10px;
}

.form-group.required .col-form-label:after {
    content: "*";
    color: red;
}

.card-action-buttons {
    margin-top: -20px;
    padding: 20px;
}

.chk-item {
    position: absolute;

    input {
        margin: 10px;
        float: left;
        clear: both;
    }
}

.product-checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: scale(1.2);
}

.alert-text {
    font-size: 20px;
}