$background_color_2: #2196f3;

/* THEME SWITCHER */
/* Hide default HTML checkbox */
/* The slider */
/* Rounded sliders */
.switch {
    position: relative;
    float: right;
    width: 60px;
    height: 24px;
    margin-left: 32px;
    margin-top: 5px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;

    &:before {
        position: absolute;
        content: "";
        height: 30px;
        width: 30px;
        left: 0px;
        bottom: 4px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        transition: 0.4s;
        box-shadow: 0 0px 15px #2020203d;
        background: white url('https://i.ibb.co/FxzBYR9/night.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

input {
    &:checked {
        & + .slider {
            background-color: $background_color_2;

            &:before {
                transform: translateX(30px);
                background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &:focus {
        & + .slider {
            box-shadow: 0 0 1px #2196f3;
        }
    }
}

.slider.round {
    border-radius: 34px;

    &:before {
        border-radius: 50%;
    }
}
