/* Button styles */

$font-color-default: #fff;
$font-color-light: #000;

$dark: #343a40;
$dark-hover: #23272b;
$light: #f8f9fa;
$light-hover: #e2e6ea;
$success: #28a745;
$success-hover: #218838;
$warning: #ffc107;
$warning-hover: #e0a800;
$danger: #dc3545;
$danger-hover: #c82333;
$femine: #ff6882;
$femine-hover: #e55d75;

@mixin btn-bg($color, $color-hover, $font-color) {
    background-color: $color;
    border-color: $color-hover;
    color: $font-color;

    &:hover {
        color: $font-color;
        background-color: $color-hover;
        text-decoration: none;
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    &:disabled {
        color: $font-color;
        opacity: 0.65;
    }

    &:hover:disabled {
        background-color: $color;
        cursor: not-allowed;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-dark {
    @include btn-bg($dark, $dark-hover, $font-color-default);
}

.btn-outline-dark {
    @include btn-bg(transparent, $dark-hover, $dark-hover);

    &:hover {
        @include btn-bg(transparent, $dark-hover, $font-color-default);
    }

    &:hover:disabled {
        color: $dark-hover;
    }
}

.btn-light {
    @include btn-bg($light, $light-hover, $font-color-light);
}

.btn-outline-light {
    @include btn-bg(transparent, $light-hover, $light-hover);

    &:hover {
        @include btn-bg(transparent, $light-hover, $font-color-light);
    }

    &:hover:disabled {
        color: $light-hover;
    }
}

.btn-success {
    @include btn-bg($success, $success-hover, $font-color-default);
}

.btn-outline-success {
    @include btn-bg(transparent, $success, $success);

    &:hover {
        @include btn-bg(transparent, $success-hover, $font-color-default);
    }

    &:hover:disabled {
        color: $success-hover;
    }
}

.btn-warning {
    @include btn-bg($warning, $warning-hover, $font-color-default);
}

.btn-outline-warning {
    @include btn-bg(transparent, $warning-hover, $warning-hover);

    &:hover {
        @include btn-bg(transparent, $warning-hover, $font-color-default);
    }

    &:hover:disabled {
        color: $warning-hover;
    }
}

.btn-danger {
    @include btn-bg($danger, $danger-hover, $font-color-default);
}

.btn-outline-danger {
    @include btn-bg(transparent, $danger-hover, $danger-hover);

    &:hover {
        @include btn-bg(transparent, $danger-hover, $font-color-default);
    }

    &:hover:disabled {
        color: $danger-hover;
    }
}

.btn-femine {
    @include btn-bg($femine, $femine-hover, $font-color-default);
}

.btn-outline-femine {
    @include btn-bg(transparent, $femine-hover, $femine-hover);

    &:hover {
        @include btn-bg(transparent, $femine-hover, $font-color-default);
    }

    &:hover:disabled {
        color: $femine-hover;
    }
}
