/* @media configuration for Rows & Columns */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}

.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: calc((12/12)*100%);
}

.col-1 {
    flex-basis: calc((1/12)*100%);
    max-width: calc((1/12)*100%);
}

.col-2 {
    flex-basis: calc((2/12)*100%);
    max-width: calc((2/12)*100%);
}

.col-3 {
    flex-basis: calc((3/12)*100%);
    max-width: calc((3/12)*100%);
}

.col-4 {
    flex-basis: calc((4/12)*100%);
    max-width: calc((4/12)*100%);
}

.col-5 {
    flex-basis: calc((5/12)*100%);
    max-width: calc((5/12)*100%);
}

.col-6 {
    flex-basis: calc((6/12)*100%);
    max-width: calc((6/12)*100%);
}

.col-7 {
    flex-basis: calc((7/12)*100%);
    max-width: calc((7/12)*100%);
}

.col-8 {
    flex-basis: calc((8/12)*100%);
    max-width: calc((8/12)*100%);
}

.col-9 {
    flex-basis: calc((9/12)*100%);
    max-width: calc((9/12)*100%);
}

.col-10 {
    flex-basis: calc((10/12)*100%);
    max-width: calc((10/12)*100%);
}

.col-11 {
    flex-basis: calc((11/12)*100%);
    max-width: calc((11/12)*100%);
}

.col-12 {
    flex-basis: calc((12/12)*100%);
    max-width: calc((12/12)*100%);
}

@media (min-width: 576px) {

    .col-sm,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding: 0 1rem;
    }

    .col-sm {
        flex-grow: 1;
        flex-basis: 0;
        max-width: calc((12/12)*100%);
    }

    .col-sm-1 {
        flex-basis: calc((1/12)*100%);
        max-width: calc((1/12)*100%);
    }

    .col-sm-2 {
        flex-basis: calc((2/12)*100%);
        max-width: calc((2/12)*100%);
    }

    .col-sm-3 {
        flex-basis: calc((3/12)*100%);
        max-width: calc((3/12)*100%);
    }

    .col-sm-4 {
        flex-basis: calc((4/12)*100%);
        max-width: calc((4/12)*100%);
    }

    .col-sm-5 {
        flex-basis: calc((5/12)*100%);
        max-width: calc((5/12)*100%);
    }

    .col-sm-6 {
        flex-basis: calc((6/12)*100%);
        max-width: calc((6/12)*100%);
    }

    .col-sm-7 {
        flex-basis: calc((7/12)*100%);
        max-width: calc((7/12)*100%);
    }

    .col-sm-8 {
        flex-basis: calc((8/12)*100%);
        max-width: calc((8/12)*100%);
    }

    .col-sm-9 {
        flex-basis: calc((9/12)*100%);
        max-width: calc((9/12)*100%);
    }

    .col-sm-10 {
        flex-basis: calc((10/12)*100%);
        max-width: calc((10/12)*100%);
    }

    .col-sm-11 {
        flex-basis: calc((11/12)*100%);
        max-width: calc((11/12)*100%);
    }

    .col-sm-12 {
        flex-basis: calc((12/12)*100%);
        max-width: calc((12/12)*100%);
    }
}

@media (min-width: 768px) {

    .col-md,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding: 0 1rem;
    }

    .col-md {
        flex-grow: 1;
        flex-basis: 0;
        max-width: calc((12/12)*100%);
    }

    .col-md-1 {
        flex-basis: calc((1/12)*100%);
        max-width: calc((1/12)*100%);
    }

    .col-md-2 {
        flex-basis: calc((2/12)*100%);
        max-width: calc((2/12)*100%);
    }

    .col-md-3 {
        flex-basis: calc((3/12)*100%);
        max-width: calc((3/12)*100%);
    }

    .col-md-4 {
        flex-basis: calc((4/12)*100%);
        max-width: calc((4/12)*100%);
    }

    .col-md-5 {
        flex-basis: calc((5/12)*100%);
        max-width: calc((5/12)*100%);
    }

    .col-md-6 {
        flex-basis: calc((6/12)*100%);
        max-width: calc((6/12)*100%);
    }

    .col-md-7 {
        flex-basis: calc((7/12)*100%);
        max-width: calc((7/12)*100%);
    }

    .col-md-8 {
        flex-basis: calc((8/12)*100%);
        max-width: calc((8/12)*100%);
    }

    .col-md-9 {
        flex-basis: calc((9/12)*100%);
        max-width: calc((9/12)*100%);
    }

    .col-md-10 {
        flex-basis: calc((10/12)*100%);
        max-width: calc((10/12)*100%);
    }

    .col-md-11 {
        flex-basis: calc((11/12)*100%);
        max-width: calc((11/12)*100%);
    }

    .col-md-12 {
        flex-basis: calc((12/12)*100%);
        max-width: calc((12/12)*100%);
    }
}

@media (min-width: 992px) {

    .col-lg,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding: 0 1rem;
    }

    .col-lg {
        flex-grow: 1;
        flex-basis: 0;
        max-width: calc((12/12)*100%);
    }

    .col-lg-1 {
        flex-basis: calc((1/12)*100%);
        max-width: calc((1/12)*100%);
    }

    .col-lg-2 {
        flex-basis: calc((2/12)*100%);
        max-width: calc((2/12)*100%);
    }

    .col-lg-3 {
        flex-basis: calc((3/12)*100%);
        max-width: calc((3/12)*100%);
    }

    .col-lg-4 {
        flex-basis: calc((4/12)*100%);
        max-width: calc((4/12)*100%);
    }

    .col-lg-5 {
        flex-basis: calc((5/12)*100%);
        max-width: calc((5/12)*100%);
    }

    .col-lg-6 {
        flex-basis: calc((6/12)*100%);
        max-width: calc((6/12)*100%);
    }

    .col-lg-7 {
        flex-basis: calc((7/12)*100%);
        max-width: calc((7/12)*100%);
    }

    .col-lg-8 {
        flex-basis: calc((8/12)*100%);
        max-width: calc((8/12)*100%);
    }

    .col-lg-9 {
        flex-basis: calc((9/12)*100%);
        max-width: calc((9/12)*100%);
    }

    .col-lg-10 {
        flex-basis: calc((10/12)*100%);
        max-width: calc((10/12)*100%);
    }

    .col-lg-11 {
        flex-basis: calc((11/12)*100%);
        max-width: calc((11/12)*100%);
    }

    .col-lg-12 {
        flex-basis: calc((12/12)*100%);
        max-width: calc((12/12)*100%);
    }
}